__pycache__/**/*
0000.txt
**.pyc
__pycache__
scratch.py
data/**
log/**
.DS_Store
*/.idea/libraries/*
**/maven-status/**
**/target/**/**
*.dump
dist/*
build/*
env/*
perf_test.py
**/**/*.log
jpoint-magic/log/*
jpoint-magic/.idea/*
tests/data/raw_sink.txt
.ipynb_checkpoints
Untitled.ipynb
beam-temp**/**
**/.mypy_cache/**/**
tests/data/**/**
.pytest_cache/**/**
beam-output**/**/**
beam-input**/**/**
*.prof